scipy
matplotlib
visdom
torchsummary
tensorboardX
opencv-python-headless
opencv-contrib-python-headless
scikit-learn
h5py

# 均为手动安装
# CUDA 11.1
pip install torch==1.10.1+cu111 torchvision==0.11.2+cu111 torchaudio==0.10.1 -f https://download.pytorch.org/whl/cu111/torch_stable.html
